# talks

This repository is an index of talks that I have given at conferences, meetups, or online. It also contains or links to slides and other materials for those talks.

If you have any questions, please feel free to open [an issue](https://github.com/jayqi/talks/issues).

{{ table.set_params(row_sep="markdown", padding_width=0, quote=False).get_markdown() | safe}}
